<!DOCTYPE html>
<html>

<head>

  <title>Realtime communication with WebRTC</title>

  <link rel="stylesheet" href="css/test.css" />
  

</head>

<body>
  <div class="testContainer">
    <div id="videos">
      <input id="roomName" type="text" value="방 이름"><input id="sender" type="button" value="입장" onclick="joinRoom()">
      <tab> <input id="sender" type="button" value="퇴장" onclick="exitRoom()"></tab>
      <br>
      <video id="localVideo" autoplay muted playsinline width="300" height="300"></video>
      <video id="remoteVideo" autoplay playsinline width="300" height="300"></video><br>
    </div>
    <div id = "chat">
      <div class="wrap" id="chat_background">
      </div>
    </div>
    <input id="chat-message-input" type="text" onkeypress="send_chat(event)" />
    <input id="chat-message-submit" type="button" value="채팅 전송" onclick="sendChat()" />
  </div>
</div>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <!-- <script src="js/main.js"></script> -->
  <!-- <script src="js/main copy.js"></script> -->
  <script type="module" src="js/main copy_chat.js"></script>
</body>

</html>
